.registration-form-container {
    display: flex;
    width: 560px;
    height: 500px;
    margin: auto;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.registration-form {
    max-width: 500px;
    margin: auto;
}

.verification-form-container {
    display: flex;
    width: 360px;
    height: 10px;
    margin: auto;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.verification-form {
    max-width: 300px;
    margin: auto;
}